.banner-empresa {
  max-width: 100%;
  height: 660px;
  background-image: url("../assets/bg-avanti.png");
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.banner-empresa-container {
  flex: 1;
  text-align: center;
  align-content: center;
  background-color: #005cff;
  height: 132px;
  color: #fff;
}

.banner-empresa-texto {
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 140%;
}
