.footer-info-container {
  padding: 64px 380px;
  background-color: #f5f5f5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 3fr 1fr;
  align-items: start;
  justify-content: center;
}

.info-social {
  grid-column: 1;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
}

.empresa-logo-link {
  display: inline-block;
  padding: 0;
  margin: 0;
  display: block;
  width: 153px;
  height: 27px;
}

.social-media {
  grid-row: 2;
  display: flex;
  gap: 40px;
  padding-top: 20px;
}

.info-institucional {
  grid-column: 2;
  grid-row: 1;
  justify-self: center;
}

.info-suporte {
  grid-column: 3;
  grid-row: 1;
  justify-self: center;
}

.info-atendimento {
  grid-column: 4;
  grid-row: 1;
  justify-self: center;
}

.info-pagamentos {
  grid-column: 1/5;
  grid-row: 2;
  display: flex;
  gap: 35px;
  padding-top: 40px;
  justify-content: center;
  align-content: center;
}

#main-info {
  font-size: 0.875rem;
  font-weight: 700;
  padding-bottom: 10px;
}

#sub-info {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 28px;
}

#detalhe-sub-info {
  font-weight: 700;
}

.horarios {
  font-weight: 700;
  font-size: 0.75rem;
}

#horarios-info {
  font-size: 0.75rem;
  line-height: 22px;
  font-weight: 400;
}

.footer-copyright-container {
  padding: 40px 420px;
}

.footer-text-config {
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
  color: #303030;
  padding-bottom: 40px;
}

.partners-container {
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
}
