@import "./style.css";
@import "./global.css";
@import "./header.css";
@import "./banner-inicial.css";
@import "./publicidade.css";
@import "./banner-vantagens.css";
@import "./banner-empresa.css";
@import "./cadastro.css";
@import "./footer.css";
